body {
    background-color: #f8f9fa;
    /* Light gray background */
}

h1 {
    font-size: 2.5rem;
}


.card {
    margin-bottom: 20px;
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* full height */
}

.card {
    width: 100%;
    /* Full width of the parent */
}